a:link {
    color: rgb(85, 85, 85);
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(85, 85, 85);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: rgb(201, 34, 34);
  }
  
  a:active {
    text-decoration: none;
    color: white;
  }

p {
    font-family: 'Tenor Sans', sans-serif;
}

header {
    align-content: center;
    height: 150px;
    margin: 10px 0px;
    border-width: 0px;
    display: flex;
    justify-content: space-evenly;
    
  }

  .h-title  {
    background-color: #92cff2;
    width: 100%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  @media screen and (max-width: 500px) {
    header {
        height: 90px;
    }
    .h-title {
    font-size: 25px;
   }
  }

  

  .content {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
  }

  .album {
 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   
   margin: 10px 10px;
   

  }

  .album img {
    height: auto;
    width: 100%;
    margin: 10px 0px;
   
    
    
   
  }

  .content img {
    height: auto;
    width: 100%;
  }

  .social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #dddddd;
    color: white;
    margin: 5px 0px;
    
    
  }

  .social a {
    padding: 25px 40px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    transition: 0.3s;
  }

  .social a:hover {
    transform: scale(1.25);
  }

  .shadow-m {
    box-shadow: 5px 5px 3px #a1a1a1;
  }

  .banner-parallax {
 
    background-image: url("main.jpg");
    min-height: 750px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 100px;
  }

  .header-spacer {
    margin-bottom: 100px;
  }
  
  @media screen and (min-width: 1000px) {
    
   .h-title {
      width: 1000px;
   }

   .content img {
    width: 1000px;;
   }

   .social {
     width: 1000px;
    }
  }